body {
    background-color: lightblue;
    font-family : "Times New Roman", Times, sans-serif;
}

div.flash-info {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid green;
}

div.flash-warn {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid orange;

}

div.flash-error {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid red;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type=text] .txtarea{
    width: 100%;
    margin: 5px;
    outline: 8px ridge darkblue;
    border-radius: 2rem;
}

. form-group .toggle-all {
    text-align: center;
    border: none;
    opacity: 0;
    position: absolute;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 5px;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    font-family : "Times New Roman", Times, sans-serif;
    color: aliceblue;
}

h2 {
    text-align: left;
    font-size: 1em;
    font-family : "Times New Roman", Times, sans-serif;
    color: darkgray;
}

form{
    font-family : "Times New Roman", Times, sans-serif;
}
